/* Frank edited file - you are good to go...*/

/*
 * Do not remove the @namespace line -- it's required for correct functioning
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */

@namespace html url("http://www.w3.org/1999/xhtml");

tabbrowser tabpanels { background-color: rgb(226,25,20) !important; }
browser { background-color: #272a34 !important; }

#contentAreaContextMenu {
	background-color:#23252e !important;
	border-color:#06a284 !important;

	/* Prevent popup from disappearing */
	margin: 10px 0 0 10px !important;

	padding: 0px 0 0 0 !important;
	border-style: solid;
}

#context-navigation, #context-sep-navigation { 
	display: none !important 
}

#context-pocket { 
	display: none !important 
}

.menupopup-arrowscrollbox {
	border: 0px !important;
	box-shadow: 0 0 0px hsla(0,0%,0%,0%) !important;
}

#appMenu-popup {
border-color: #06a284 !important;
border-style: solid;
padding: 0px 0 0 0 !important;
}
